!!!
%html
  %head
    %title zalapeach blog
  %body
    %section
      %h1 Juan Carlos Aguilar Rincón
      %p Ingeniero de software
    %nav
      %ul
        %li Inicio
        %li Acerca de mi
        %li Blog
        %li Contacto
        %li Curriculum
    = yield
    %footer
      %p &copy; Juan Carlos Aguilar Rincón, algunos derechos reservados
